Repository Guts/qgis-deployment-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation, jobs, packaging

Make job options generic
  qgis_deployment_toolbelt/cli.py
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
  qgis_deployment_toolbelt/jobs/orchestrator.py
Labels: jobs

WIP profils synchronizer
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Labels: jobs

rm emojis
  CONTRIBUTING.md
Labels: none

Fix docstring style and add IDE
  CONTRIBUTING.md
Labels: none

Add minimalist progressbar
  qgis_deployment_toolbelt/cli.py
Labels: none

Add options validation
  qgis_deployment_toolbelt/cli.py
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Labels: jobs

Add git remote handler
  qgis_deployment_toolbelt/profiles/__init__.py
  qgis_deployment_toolbelt/profiles/remote_git_handler.py
Labels: none

Add logic for remote git repos
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Labels: jobs

Add debug logg
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
Labels: jobs

Fix typo
  qgis_deployment_toolbelt/cli.py
Labels: none

Add project dependencies
  setup.py
Labels: packaging

Achieve download logic for remote git
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
  qgis_deployment_toolbelt/profiles/remote_git_handler.py
Labels: jobs

Use built-in cache in setup-python
  .github/workflows/lint.yml
Labels: ci-cd

Bump minimal versions
  requirements/development.txt
Labels: dependencies

Use built-in cache in setup-python
  .github/workflows/documentation.yml
Labels: ci-cd

Improve release workflow
  .github/workflows/build.yml
Labels: ci-cd

Rm python path and add yaml schema
  .vscode/settings.json
Labels: none

Add JSON schema for github workflows
  .vscode/settings.json
Labels: none

Rename workflow
  .github/workflows/build_release.yml
Labels: ci-cd

Add ubuntu build
  .github/workflows/build_release.yml
Labels: ci-cd

Fix missing packag installation
  .github/workflows/build_release.yml
Labels: ci-cd

Complete steup
  qgis_deployment_toolbelt/__about__.py
  setup.py
Labels: packaging

Install root requirements
  .github/workflows/build_release.yml
Labels: ci-cd

Workaround of install_requires behavior
  requirements.txt
  requirements/base.txt
  setup.py
Labels: dependencies, packaging

Clean cache
  .github/workflows/build_release.yml
Labels: ci-cd

rm editable mode from root requirement
  requirements.txt
Labels: dependencies

Fix windows build
  .github/workflows/build_release.yml
Labels: ci-cd

TEMP test release job
  .github/workflows/build_release.yml
Labels: ci-cd

Fix artifact names
  .github/workflows/build_release.yml
Labels: ci-cd

Update badge
  README.md
Labels: none

Use maintained action
  .github/workflows/build_release.yml
Labels: ci-cd

Restore tag filter
  .github/workflows/build_release.yml
Labels: ci-cd

Fix badge
  README.md
Labels: none

Bump version 0.2.0
  qgis_deployment_toolbelt/__about__.py
Labels: none

Add release worklow
  docs/development/documentation.md
  docs/development/releasing.md
  docs/index.md
Labels: documentation

Add version 0.2.0
  CHANGELOG.md
Labels: none

.github/labeler.yml:

ci-cd:
  - .github/**/*

dependencies:
  - ./requirements.txt
  - ./requirements/*.txt

documentation:
  - docs/**/*

jobs:
  - qgis_deployment_toolbelt/jobs/**/*

packaging:
  - qgis_deployment_toolbelt/builder/**/*
  - setup.py
