Repository Guts/qgis-deployment-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation, jobs, packaging

Add changelog config
  .github/release.yml
Labels: ci-cd

Add wheel build job
  .github/workflows/build_release.yml
Labels: ci-cd

Add documentation section to auto changelog
  .github/release.yml
Labels: ci-cd

Add python build as release dependency
  .github/workflows/build_release.yml
Labels: ci-cd

Rename package
  qgis_deployment_toolbelt/__about__.py
Labels: none

typo
  CONTRIBUTING.md
Labels: none

Add image and fix config
  docs/conf.py
  docs/development/packaging.md
  docs/index.md
  docs/static/qgis-deployment-toolbelt_cli_help.png
  docs/usage/how_to_use.md
  docs/usage/installation.md
Labels: documentation

Improve package metadata
  qgis_deployment_toolbelt/__about__.py
Labels: none

Clean dependencies
  requirements/documentation.txt
Labels: none

Add job to publish to Pypi
  .github/workflows/build_release.yml
Labels: ci-cd

Add autodocumentation of cli
  docs/conf.py
  docs/usage/cli.md
  docs/usage/how_to_use.md
Labels: documentation

Bump to version 0.3.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Labels: none

Fix missing twine dep
  .github/workflows/build_release.yml
Labels: ci-cd

Check against supported platforms
  qgis_deployment_toolbelt/commands/cli_check.py
Labels: none

Add configuration per OS
  qgis_deployment_toolbelt/constants.py
Labels: none

Add isort config
  setup.cfg
Labels: none

VSCode: enable format and sort on save
  .vscode/settings.json
Labels: none

Fix codecov config
  setup.cfg
Labels: none

.github/labeler.yml:

ci-cd:
  - .github/**/*

dependencies:
  - any: ['requirements.txt', 'requirements/*.txt']

documentation:
  - docs/**/*

jobs:
  - qgis_deployment_toolbelt/jobs/**/*

packaging:
  - qgis_deployment_toolbelt/builder/**/*
  - setup.py
